<div class="ingredients" style="padding-top:100px">
  <center>
    <h2 style="color:#83B848;font-weight:900">{{section.settings.section_title}}
    </h2>
  </center>

  <div class="ingredients-images">
    <div class="ingredients-image">
        <img src="{{section.settings.first_image | img_url: 'master'}}">
    </div>
    <div class="ingredients-hands">
      <center style="font-size:24px">Our Commitment<br><img src="https://cdn.shopify.com/s/files/1/0417/0193/3209/files/promise.png?v=1658830711">
      </center>
      <br style="clear:both">

    </div>
    <div class="ingredients-image">
        <img src="{{section.settings.second_image | img_url: 'master'}}">
    </div>
  </div>

  <br>
  <br style="clear:both">
  <center style="font-weight:500;font-size:32px;font-style:italic;margin-left:20%;margin-right:20%">
    {{section.settings.bottom_desc}}
  </center>
  <br>
  <br style="clear:both">
</div>

{% schema %}
  {
    "name": "Ingredients",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Using Natural Ingredients"
      }, {
        "type": "image_picker",
        "label": "First Image",
        "id": "first_image"
      }, {
        "type": "image_picker",
        "label": "Second Image",
        "id": "second_image"
      }, {
        "type": "textarea",
        "id": "bottom_desc",
        "label": "Bottom Description",
        "default": "We incorporate ingredients with natural benefits to provide your pets and horses with safe, effective products"
      }
    ],

    "presets": [
      {
        "name": "Ingredients",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
