<div class="slidermantle" style="z-index:9">
  {% for block in section.blocks %}
    <div class="mantletext1">
      {{block.settings.feature_label}}
    </div>

    {% unless forloop.last %}
      <div class="mantledot">
        <img src="https://cdn.shopify.com/s/files/1/0417/0193/3209/files/green.png?v=1658901853">
      </div>
    {% endunless%}
  {% endfor %}

</div>

{% schema %}
  {
    "name": "Homepage Features",
    "settings": [],
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "settings": [
          {
            "type": "text",
            "id": "feature_label",
            "label": "Feature Label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Homepage feartures",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
