<!-- /templates/page.liquid -->
{% include 'breadcrumb' %}
<div class="page-container">
  {%- if settings.language_enable -%}
    <div class="lang1">
      {%- assign content_lg1 = page.content | split: '[lang2]' | first -%}
      {% include 'shortcode' load: content_lg1 %}
    </div>
    <div class="lang2">
      {%- assign content_lg2 = page.content | split: '[lang2]' | last -%}
      {% include 'shortcode' load: content_lg2 %} 
    </div>
  {%- else -%}
    {%- assign content_lg = page.content | split: '[lang2]' | first -%}
    {% include 'shortcode' load: content_lg %}
  {%- endif -%} 
</div>

<script>
  $(document).ready(function() {
    if ($.fn.countTo) {
      if ($.fn.waypoint && $('.count').length > 0 ) {
        var waypoint = new Waypoint({
          element: $('.count'),
          handler: function() {
            $(this.element).countTo({
              onComplete: function(value) {
                waypoint.destroy();
              }
            });
          },
          offset: '90%',
        });
      } else {
        $('.count').countTo({
        });
      }
    } else {
      // fallback if count plugin doesn't included
      // Get the data-to value and add it to element
      $('.count').each(function () {
        var $this = $(this),
          countValue = $this.data('to');
        $this.text(countValue);
      });
    }
  })
</script>