<!-- /templates/page.liquid -->
{% include 'breadcrumb' %}
<div class="container">
  <div class="page-container">
    <div class="rte">
      <h3>Products</h3>
      {%- section 'shortcode-pr' -%}<br/><br/><br/><br/>
      <h3>Products Widget</h3>
      {%- section 'shortcode-pr-widget' -%}<br/><br/><br/><br/>
      <h3>Collection</h3>
      {%- section 'shortcode-collection' -%}
      <h3>Instagram</h3>
      {%- section 'shortcode-instagram' -%}
      <h3>Blog Article</h3>
      {%- section 'shortcode-article' -%}
    </div>
  </div>
</div>
